//padding 

$paddingTop: (80 , 69)

@each $pt in $paddingTop
    .pt-#{$pt}
        padding-top: #{$pt}px

$paddingBottom: (80 , 69)

@each $pb in $paddingBottom
    .pt-#{$pb}
        padding-bottom: #{$pb}px

$marginBottom: (10 , 20  , 40 , 50)

@each $mb in $marginBottom
    .mb-#{$mb}
        margin-bottom: #{$mb}px                     